body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

/*.button-container {
    width: 100%;
    height: 100%;
    background: url("DoubleCredit.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
*/
.login-button {
    position: absolute;
    right: 15%;
    bottom: 5%;
    font-size: 30px;
}

#cnct-delta-btn {
    position: absolute;
    top: 45%;
    font-size: 40px;
    right: 35%;
}

#delta-logo {
    margin-bottom: 5px;
    height: 40px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("DoubleCredit.jpg");
    background-size: cover;
}

/*.content {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 200px;
    background: yellow;
}*/

.dropdown-menu {
    z-index: 999999;
}




































.icon:before, .icon:after, loading:before, loading:after, .rest:before, .rest::after, button {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

    *:focus, *:before:focus, *:after:focus, button:focus {
        outline: 0;
    }

.icon {
    position: absolute;
    width: 64px;
    height: 64px;
    display: block;
    fill: white;
    top: -20px;
    opacity: 0;
    left: calc(50% - 32px);
}

    .icon.active {
        top: 5px;
        opacity: 1;
        transition: .3s ease-in-out;
        transition-delay: 2.8s;
    }

.btn-delta-loading {
    width: 150px;
    height: 60px;
    position: relative;
    background-color: transparent;
    border: 2px solid #819aa9;
    border-radius: 50px;
    font-family: 'Open Sans';
    color: #819aa9;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: calc(50% + 54.5px);
    top: calc(50% - 38.2px);
    /*width: 150px;
    height: 60px;
    position: relative;
    background-color: transparent;
     border: 2px solid #819aa9; 
    border-radius: 50px;
    font-family: 'Open Sans';
    color: #819aa9;
     font-weight: 400; 
     font-size: 1.2em; 
    cursor: pointer;
     overflow: hidden; 
    position: absolute;
    left: calc(50% - 37.5px);
    top: calc(50% - 37.5px);*/
}

    .btn-delta-loading.active {
        -webkit-animation: upload 3s ease-in-out forwards;
        animation: upload 3s ease-in-out forwards;
    }

.rest {
    -webkit-transform: scale(0);
    transform: scale(0);
    clip: rect(0, 84px, 84px, 42px);
    height: 84px;
    width: 84px;
    position: absolute;
    left: calc(50% + 50px);
    top: calc(50% - 42px);
}

    .rest.active {
        -webkit-animation: animate 1.05s linear infinite;
        animation: animate 1.05s linear infinite;
        -webkit-animation-delay: .6s;
        animation-delay: .6s;
    }

        .rest.active:after {
            -webkit-animation: animate2 1.05s linear infinite;
            animation: animate2 1.05s linear infinite;
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }

    .rest:after {
        -webkit-transform: scale(0);
        transform: scale(0);
        clip: rect(0, 84px, 84px, 42px);
        content: '';
        border-radius: 50%;
        height: 84px;
        width: 84px;
        position: absolute;
    }

@-webkit-keyframes upload {
    0% {
        width: 150px;
        height: 60px;
        color: #819aa9;
        background-color: transparent;
    }

    7% {
        width: 155px;
        height: 55px;
        font-size: 1.25em;
        color: #ffffff;
        background-color: #819aa9;
    }

    10% {
        width: 150px;
        height: 60px;
        font-size: 1.2em;
        color: transparent;
    }

    20% {
        width: 60px;
        height: 60px;
        font-size: 0em;
        background-color: transparent;
    }

    90% {
        width: 60px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: transparent;
    }

    100% {
        width: 150px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: #819aa9;
    }
}

@keyframes upload {
    0% {
        width: 150px;
        height: 60px;
        color: #819aa9;
        background-color: transparent;
    }

    7% {
        width: 155px;
        height: 55px;
        font-size: 1.25em;
        color: #ffffff;
        background-color: #819aa9;
    }

    10% {
        width: 150px;
        height: 60px;
        font-size: 1.2em;
        color: transparent;
    }

    20% {
        width: 50px;
        height: 60px;
        font-size: 0em;
        background-color: transparent;
    }

    90% {
        width: 50px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: transparent;
    }

    100% {
        width: 50px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: #819aa9;
    }
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}

@keyframes animate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}

@-webkit-keyframes animate2 {
    0% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }

    100% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }

    100% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

@-webkit-keyframes done {
    0% {
        top: -20px;
    }

    100% {
        top: 0px;
    }
}

@keyframes done {
    0% {
        top: -20px;
    }

    100% {
        top: 0px;
    }
}




















.preload {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 41, 41, 0.69);
    position: absolute;
    top: 5.7%;
    z-index: 9999;
}

.loadingFrame {
    width: 70px;
    height: 70px;
    bottom: 55%;
    right: 55%;
    position: absolute;
}

.loadingDiv1, .loadingDiv2 {
    border: 5px solid transparent;
    position: absolute;
    border-radius: 50%;
}

.loadingDiv1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    animation: spin 2s linear infinite;
}

.loadingDiv2 {
    width: 60px;
    height: 60px;
    border-top: 5px solid #419dff;
    border-bottom: 5px solid #419dff;
    top: 5px;
    left: 5px;
    animation: reverseSpin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes reverseSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
