@*<div id="content-wrapper">
        <div class="login-button">@Html.ActionLink("Login with Delta Airlines", "Login", "Account")</div>
    </div>*@
<div class='image'></div>
<div class="login-button"><img id="delta-logo" src="~/Content/delta_logo.png" align="middle"/>@Html.ActionLink("Login with Delta Airlines", "Login", "Account")</div>
