@*<div class="row col-lg-1">
        <a class="btn btn-primary btn-block">Connect to Delta</a>
    </div>*@
<div id="content-wrapper">
    <div class="row col-lg-2">
        <a class="btn btn-secondary btn-block">Connect to Delta</a>
    </div>
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>
</div>